.hide {
  display: none;
}

* {
  background: #f0eded;
  box-sizing: border-box;
  padding: 0; 
  margin: 0;
}

main { 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: 'Raleway', sans-serif;
}

.welcomeScreen {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  position: relative;
  top: calc(0.35 * 100vh);
}

.startScreen {
  margin-top: 80px;
  text-align: center;
}
.startScreen .workoutName {
  font-size: 100pt;
}

.startButton {
    font-size: 20pt;
    width: 100px;
    height: 100px;
    margin-top: 50px;
}
button {
  font-size: 16px;
  margin-top: -1px;
  height: 36px;
  width: 42px;
  background: white;
  border: 0px;
  transition: 0.5s;
}
button:hover{
  background: #0c2733;
  color: white;
}

.title {
  color: #0c2733;
  text-align: center;
  font-family: adobe-garamond-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 70pt;
  display: block;
}

.menu {
  display: flex;
  justify-content: center;
  width: 80%;
}

#workouts {
  width: 100%;
  font-size: 16px;
  height: 36px;
  background: white;
  border: 0px;
  padding: 5px;
}
.menuButton {
  margin-top: 0.5px;
  margin-left: 4px;
}

.error {
  margin-top: 10px;
  font-size: 12pt;
  color: grey;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {opacity: 0};
  100% {opacity: 1};
}
.timer {
  margin-top: 80px;
  width: 100%;
  text-align: center;
}
.timer .name {
  font-size: 100pt;
}
.time {
  font-family: 'Major Mono Display', monospace;
  font-size: 200pt;
}
.timer .notes {
  font-size: 30pt;
  position: absolute; 
  top: 600px;
  padding-left: 250px;
  padding-right: 250px;
  width: 100%;
}

.bgColor {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}